*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ha{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6266ea;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 100%;
    height: 100px;
}
.navs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        &:hover{
            background-color: #4232c2;
            width: 80px;
            height: 40px;
            border-radius: 50px;
        }
    }
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4232c2;
    width: 80px;
    height: 40px;
    border-radius: 50px;
}
@media screen and (min-width: 300px) and (max-width: 576px) {
.ha {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    gap: 15px;
  }

  .navs {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .navs a {
    width: 100px;
    height: 35px;
    font-size: 14px;
  }

  .all {
    width: 100px;
    height: 35px;
    font-size: 14px;
  }
}