*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;

}
.purple{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.bn{
    color: #212529;
    font-size: 17px;
}
.purp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #212529;
    font-weight: 700;
    margin-top: 5px;
}
.buz{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #4232c2;
    font-weight: 700;
    margin-top: 5px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #4232c2;
    gap: 20px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
 width: 70%;
  a {
      color: rgba(0, 0, 0, .55);
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 30px;
      border-radius: 50px;
      &:hover{
          background-color: #3b2daa;
          color: white;
          transition: 0.3s;
      }
  }
}
.bars{
  display: none;
}
@media screen and (min-width: 300px) and (max-width: 576px) {
.nav{
    display: none;
}
.icon{
    display: none;
}
.bars {
    display: block;
    color: #4232c2;
    padding: 5px;
    margin-left: 100px;
    font-size: 35px;
  }

  .head {
    width: 90%;
    justify-content: space-between;
  }
  .purp,
  .buz {
    font-size: 20px;
  }
}