*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
} 
.contc {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont {
  width: 350px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
  padding-bottom: 20px;
}
.cont a {
  color: #5448de;
  font-family: Arial, Helvetica, sans-serif;
}
.wild {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wild img {
  width: 450px;
  height: auto;
}
.tac{
  color: #5448de;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.elit{
  color: #212529;
  font-size: 20px;
}
.vector{
  color: #6c757d;
  font-size: 13px;
  line-height: 1.5;
}
@media screen and (min-width: 300px) and (max-width: 576px) {
.contact {
  flex-direction: column;
  margin-bottom: 40px;
}
.contc {
  flex-direction: column;
  width: 90%;
  gap: 30px;
}
.cont {
  width: 100%;
  align-items: center;
  text-align: center;
}
.wild {
  justify-content: center;
}
.wild img {
  width: 100%;
  max-width: 300px;
}
.tac {
  font-size: 24px;
}
.elit {
  font-size: 18px;
}
.vector {
  font-size: 12px;
}
}