*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .cardGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  
  .card {
    position: relative;
    border-radius: 8px;
    height: 270px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 10px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    &:hover{
        transform: scale(1.05);
    }
  }

  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
  }
  
  .category {
    margin-bottom: 10px;
  }
  
  .category button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .text p {
    font-size: 15px;
    color: white;
  }
  
  /* Media queries for responsiveness
  @media screen and (max-width: 1024px) {
    .card {
      width: calc(33.333% - 1.5rem);
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: calc(50% - 1.5rem);
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: calc(100% - 1.5rem);
    }
  } */